/**
* @name DTM-08
* @author 11pixels#2004
* @version 1.0
* @invite vUN9sNW
* @description Discord Time Machine 2008 - A skeuomorphic/glossy theme for Discord
* @source https://github.com/XYZenix/XYZenixThemes/blob/master/DTM-08.theme.css
*/
@import url(https://xyzenix.github.io/XYZenixThemes/DTM-08/dtm-08.css);
